* {
  color: white;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  background-color: rgb(63, 43, 68);
}

div {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* h1{
  color: white;
  background:transparent;
  text-shadow: 0 2px 2px black;
} */

button {
  padding: 19px 50px;
  background-color: rgb(87, 35, 87);
  color: white;
  border: 2px solid #acc3c9;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}
